<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>
    <main>
        <div>
            {% for x in list_projects %}
            <h1>{{x.name}}</h1>
            <p>{{x.description}}</p>
            {% endfor %}

            <h2>Tasks</h2>
            <p> <a href="{% url 'create_task'%}">Create a new task</a></p>
            {% for x in show_project %}

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.assignee}}</td>
                        <td>{{x.start_date}}</td>
                        <td>{{x.due_date}}</td>
                        <td>{{x.is_completed|yesno}}</td>
                    </tr>
                </tbody>
            </table>
            {% empty %}
            <p>This project has no tasks</p>
            {% endfor %}
        </div>
    </main>

</body>

</html>
